# Node modules
**/node_modules/

# Build output directories
**/dist/
**/build/

# Coverage directory
**/coverage/

# IDE and editor specific files
**/.vscode/
**/.idea/
**/.DS_Store

# Temporary files and directories
**/.tmp/
**/.temp/
**/*.swp

# Log files
**/*.log

# TypeScript build artifacts
**/*.tsbuildinfo

# Lock files
**/package-lock.json
**/yarn.lock

# Environment files
**/.env
**/.env.*

#Github
.github

#Other
distribute-env.sh
remove_unnecessary_files.sh
3PL-System.code-workspace