# Ignore environment variables
.env

# Ignore Node modules
node_modules/

# Ignore build output directories
dist/
build/

# Ignore coverage directory
coverage/

# Ignore IDE and editor specific files
.vscode/
.idea/
.DS_Store

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore sensitive files
secret/

# Ignore specific files for NestJS
*.env.*
.env.test
.env.production

# Ignore temporary files and directories
.tmp/
.temp/
*.swp

# Ignore optional lock files
package-lock.json
yarn.lock

# Ignore GitHub Actions specific files
.github/

#Other
distribute-env.sh